docker {
    enabled = true
}


process {
    withName:
    'TBPROFILER_PROFILE' {
        cpus = 4
        memory = '6 GB'
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }

    withName:
    'TBPROFILER_COLLATE' {
        cpus = 2
        memory = '2 GB'
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }
}
