process {
    withName:
    'TBPROFILER_PROFILE' {
        cpus = 6
        memory = '8 GB'
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }

    withName:
    'TBPROFILER_COLLATE' {
        cpus = 4
        memory = '4 GB'
        container = 'quay.io/biocontainers/tb-profiler:3.0.6--pypyh5e36f6f_0'
    }
}
